.reservation-container {
    text-align: center;
    color: #333; /* Black or dark gray for readable letters */
    background-color: white; /* White/rgb(50, 153, 255) color theme */
    padding: 20px;
  }
  
  .arrangement-details, .excursions {
    margin: 20px auto;
    max-width: 600px;
  }
  
  .excursion-card {
    text-align: left;
    background-color: rgb(50, 153, 255);;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .arrangement-details.arrangement-details p {
    font-size: 1.3em;
    padding: 10px;
  }
  
  p {
    font-size: 1.2em;
  }
  label{
    font-size: 1.5em;
    padding-bottom: 30px;
  }
  
  input[type="checkbox"] {
    transform: scale(1.5); 
    margin-right: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
  }
  
  input[type="number"] {
    padding: 8px; 
    border: 2px solid #ccc; 
    border-radius: 5px;
    width: 50px; 
    font-size: 1.2em; 
  }
  
  input[type="number"]:focus {
    outline: none; 
    border-color: rgb(50, 153, 255); 
  }
  h1{
    color:  rgb(50, 153, 255);
    font-size: 1.6em;
  }
  .centered-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(50, 153, 255);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 50px;
  }
  
  .centered-button:hover {
    background-color: #357abd;
  }
  