<div class="deliveries">
  <div class="title">Appointments</div>
  <div class="card" *ngFor="let reservation of reservations">
    <div class="content">
      <div class="label">
        Company administrator:
        {{ reservation.appointment.companyAdministratorFullName }}
      </div>
      <div class="label">
        User:
        {{
          reservation.registeredUser.firstName +
            " " +
            reservation.registeredUser.lastName
        }}
      </div>
      <div class="label">Duration: {{ reservation.appointment.duration }}</div>
      <div class="label">
        Start time:
        {{
          reservation.appointment.startDateTime.split("T")[0] +
            ", " +
            reservation.appointment.startDateTime.split("T")[1]
        }}
      </div>
      <div class="label">Status: {{ reservation.status }}</div>
    </div>
    <div
      class="start"
      *ngIf="canBeTaken(reservation)"
      (click)="markAsTaken(reservation)"
    >
      <div class="start-text">Mark as taken</div>
    </div>
  </div>
</div>
