<div class="toolbar">
  <div class="navbar-left">
    <button class="menuButton mat-button" [matMenuTriggerFor]="menu">
      Menu
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['home']">Home</button>
      <button mat-menu-item [routerLink]="['vehicles']">Vehicles</button>
      <button mat-menu-item [routerLink]="['arrangements']">
        Arrangements
      </button>
      <button mat-menu-item *ngIf="user && hasRole(user.role, 'ROLE_ADMIN')" [routerLink]="['arrangement-creation']">
        Arrangement Creation
      </button>

      <button mat-menu-item *ngIf="user && hasRole(user.role, 'ROLE_ADMIN')" [routerLink]="['admin-vehicle-reservations']">
        Admin Vehicle Reservations
      </button>

      <button mat-menu-item *ngIf="user && hasRole(user.role, 'ROLE_USER')" [routerLink]="['all-reservations']">
        Your travel reservations
      </button>
      <button mat-menu-item *ngIf="user && hasRole(user.role, 'ROLE_USER')" [routerLink]="['user-vehicle-reservations']">
        Your vehicle reservations
      </button>
      <button mat-menu-item *ngIf="user && hasRole(user.role, 'ROLE_USER')" [routerLink]="['user-loans']">
        Loans
      </button>
    
      

        
    </mat-menu>
  </div>
  <div class="app-name-icon" [routerLink]="['']">
    <img class="app-icon" src="../../../assets/icons/travel.png" />
    <div class="app-name">Travel</div>
  </div>
  <div class="navbar-right">
    <div class="nav-button" *ngIf="user && user.email === ''" [routerLink]="['login']">
      Log In
    </div>
    <div class="nav-button" *ngIf="user && user.email !== ''" (click)="onLogout()">
      Log Out
    </div>
    <div class="nav-button" *ngIf="user && user.email === ''" [routerLink]="['register']">
      Register
    </div>
  </div>
</div>