* {
    margin: 0;
    padding: 0;
}

.login-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    animation: fadeIn 0.5s ease-in-out;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 1.5rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
    width: 32rem;
}

.login-head {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-x {
    position: absolute;
    left: 0;
    justify-self: left;
    color: rgba(107, 22, 22, 1);
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.15s;
}

.login-x:hover {
    color: rgba(107, 22, 22, 0.9);
}

.login-title {
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 2rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(107, 22, 22, 1);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(107, 22, 22, 0.5);
}

/* For Firefox */
/* You can customize these styles as needed */
.appointments-list {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(107, 22, 22, 1)
                     rgba(107, 22, 22, 0.5);
    max-height: 15rem;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

/* Optional: Adjust the styles for the track and thumb in Firefox */
.appointments-list::-webkit-scrollbar-thumb {
    background-color: rgba(107, 22, 22, 1);
}

.appointments-list::-webkit-scrollbar-track {
    background-color: rgba(107, 22, 22, 0.5);
}

.appointment {
    width: 100%;
    min-height: 3rem;
    background-color: rgba(240, 240, 240, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 0.5rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.15s;
}

.appointment:hover {
    background-color: rgba(230, 230, 230, 1);
}

.selected {
    background-color: rgba(0, 255, 0, 0.3);
}

.selected:hover {
    background-color: rgba(0, 255, 0, 0.5);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(107, 22, 22, 1);
    border: rgba(107, 22, 22, 1) 1px solid;
    height: 2.5rem;
    transition: background-color 0.15s;
    cursor: pointer;
    width: 100%;
    border-radius: 0.3125rem;
}

.button:hover {
    background-color: rgba(107, 22, 22, 0.9);
}

.button-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.margin-top {
    margin-top: 1rem;
}

.label {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 1);
    width: 100%;
}

.input {
    height: 1.5rem;
    width: calc(100% - 1rem);
    margin-top: 0.5rem;
    padding-inline: 0.5rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 1);
    border: rgba(0, 0, 0, 1) 1px solid;
    border-radius: 0.3125rem;
    cursor: default;
}
