<!-- <div class="card">
    <div class="header">
        <input class="profile-input" type="text" placeholder="Name" [(ngModel)]="equipment.name"/>
        <input class="profile-input" type="text" placeholder="Description" [(ngModel)]="equipment.description"/>

        <div class="options">
            <div class="option" *ngIf="isAdded"><fa-icon class="icon-blue" [icon]="faEdit"></fa-icon></div>
            <div class="option" *ngIf="!isAdded" (click)="add"><fa-icon class="icon-green" [icon]="faPlus"></fa-icon></div>
            <div class="option" *ngIf="isAdded" ><fa-icon class="icon-red" [icon]="faMinus"></fa-icon></div>
        </div>
    </div>
</div> -->