.options {
    display: flex;
}

.option {
    display: flex;
    cursor: pointer;
    margin-left: 5px;
}

.icon-blue {
    color: blue;
}

.icon-green {
    color: green;
}

.icon-red {
    color: red;
}

.title {
    display: flex;
}

.header {
    display: flex;
}

.card {
    border: black 1px solid;
}