.company-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.company-search-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: rgba(0, 0, 0, 1) 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-search-header-title {
    color: rgba(0, 0, 0, 1);
    transition: color 0.15s;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.company-search-header-paragraph {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    transition: color 0.15s;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.company-search-body{
    display: flex;
    width: 100%;
    min-height: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.company-search-filters {
    display: flex;
    flex-direction: column;
    width: 25rem;
    padding-bottom: 1rem;
}

.company-search-filters-head {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    border-radius: 0.3125rem;
    border: rgba(107, 22, 22, 1) 1px solid;
    background-color: rgba(107, 22, 22, 1);
    padding-block: 1rem;
    margin-bottom: 1rem;
}

.company-search-filters-head-title {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.company-filters-head-icon {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    transition: color 0.15s;
}

.company-filters-head-text {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    transition: color 0.15s;
}

.company-filters-view {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.company-filter-x {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    user-select: none;
}

.company-filter-view-text {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
}

.company-seach-filter-section {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    border: rgba(0, 0, 0, 1) 1px solid;
}

.company-seach-filter-section-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.company-seach-filter-section-title-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    transition: color 0.15s;
}

.company-seach-filter-section-title-arrow {
    margin-left: auto;
    transition: transform 0.3s;
    cursor: pointer;
    user-select: none;
}

.spin-arrow {
    transform: rotate(-180deg);
}

.company-seach-filter-section-body {
    margin-bottom: 0;
    display: flex;
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    transition: max-height 0.3s ease-out, margin 0.3s ease-out;
}

.company-seach-filter-section-body-dropped {
    margin-bottom: 1rem;
    max-height: 200px;
}

.company-filter-input {
    padding-inline: 0.25rem;
    height: 1.5rem;
    color: rgba(0, 0, 0, 1);
    font-size: 1rem;
    border:rgba(0, 0, 0, 1) 1px solid;
    border-radius: 0.3125rem;
    font-weight: 500;
}

.company-filter-margin{
    margin-bottom: 1rem;
}

.company-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(107, 22, 22, 1);
    border-radius: 0.3125rem;
    margin-bottom: 1.2rem;
    height: 1.7rem;
    transition: background-color 0.15s;
    cursor: pointer;
}

.company-search-button:hover {
    background-color: rgba(107, 22, 22, 0.9);
}

.company-search-button-text {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.company-search-results {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 100%;
}

.company-search-results-count {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    transition: color 0.15s;
    margin-bottom: 0.75rem;
}

.company-search-results-card-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    border-top: rgba(0, 0, 0, 1) 1px solid;
    padding-top: 2rem;
}

.company-search-results-card {
    display: flex;
}

.rounded-top-corners {
    border-top-left-radius: 0.3125rem;
    border-top-right-radius: 0.3125rem;
}

.rounded-bottom-corners {
    border-bottom-left-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
}

.no-bottom-border {
    border-bottom: none;
}

.filter-rating {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter-rating-text {
    color: rgba(0, 0, 0, 1);
    font-size: 1rem;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
    margin: 10px 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgba(107, 22, 22, 1);
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: rgba(107, 22, 22, 1);
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background-color: rgba(107, 22, 22, 1);
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.company-search-results-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
    border-bottom: rgba(0, 0, 0, 1) 1px solid;
}

.company-sort-label {
    margin-left: auto;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 0.75rem;
}

.company-sort-select {
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    margin-bottom: 0.5rem;
    width: 6rem;
    background-color: rgba(107, 22, 22, 1);
    border: rgba(107, 22, 22, 1) 1px solid; 
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    border-radius: 0.3125rem;
    font-weight: 500;
    margin-left: auto;
    position: relative;
    cursor: pointer;
}

.company-sort-view {
    display: flex;
    align-items: center;
}

.company-sort-current {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

.company-sort-way {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
}

.company-sort-arrow {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    margin-left: auto;
}

.company-sort-select-options {
    display: none;
}

.company-sort-options {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 0.3125rem;
    background-color: white;
    border: none;
    max-height: 0;
    transition: max-height 0.3s;
}

.company-sort-options * {
    visibility: collapse;
}

.company-sort-select:hover > .company-sort-options * {
    visibility: visible;
}

.company-sort-select:hover > .company-sort-options {
    max-height: 200px;
    border: rgba(0, 0, 0, 1) 1px solid;
}

.company-sort-options > *:not(:last-child) {
    border-bottom: rgba(0, 0, 0, 1) 1px solid;  
}

.company-sort-option {
    display: flex;
    align-items: center;
    width: 6rem;
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 0.15s;
}

.company-sort-option:hover {
    background-color: rgba(240, 240, 240, 1);
}

.company-sort-option-current {
    color: rgba(0, 0, 0, 1);
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

.company-sort-option-way {
    color: rgba(0, 0, 0, 1);
    font-size: 1rem;
}

.company-search-pages {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-search-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    min-width: 2rem;
    border: rgba(0, 0, 0, 1) 1px solid;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
    background-color: white;
    cursor: pointer;
    margin-inline-start: 0.5rem;
    transition: background-color 0.15s;
}

.company-search-page:hover {
    background-color: rgba(240, 240, 240, 1);
}

.company-search-page-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    user-select: none;
}

.company-search-page-arrow {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    user-select: none;
}

.company-search-page-highlighted {
    background-color: rgba(107, 22, 22, 1);
    border: rgba(107, 22, 22, 1) 1px solid;
}

.company-search-page-highlighted:hover {
    background-color: rgba(107, 22, 22, 0.9);
}

.company-search-page-text-highlighted {
    color: rgba(255, 255, 255, 1);
}

.no-border {
    border: none;
    cursor: default;
}

.company-search-result-companies {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.company-card {
    display: flex;
    height: 10rem;
    width: calc(100% - 1px);
    border-radius: 0.3125rem;
    background-color: rgba(255, 255, 255, 1);
    border: rgba(0, 0, 0, 1) 1px solid;
    transition: background-color 0.15s;
    cursor: pointer;
}

.company-card:hover {
    background-color: rgba(240, 240, 240, 1);
}

.company-content {
    padding-block: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 1rem;
}

.company-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 1rem;
}

.company-label {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 0.5rem;
}

.star {
    color: rgba(255,255,0, 1);
}

.company-image {
    height: 100%;
    width: 10rem;
    border-top-left-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
}