<div id="full-screen-container">
    <div id="overlay"></div>
    <img id="full-screen-image" src="https://images.pexels.com/photos/4021775/pexels-photo-4021775.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Full Screen Image">
</div>
<div class="section">
    <img src="https://media.istockphoto.com/id/1127069581/photo/medical-technology-concept.jpg?s=612x612&w=0&k=20&c=qp_smilHlWhGzZ-NcftDLugFs_EVCLfX2Z7WCAD1v6A=" alt="Medical Equipment">
    <h2>Welcome to Medspress</h2>
    <p>At MedsPress, we are committed to providing high-quality medical equipment to enhance healthcare practices around the world. Our extensive range of products is designed to meet the evolving needs of medical professionals, ensuring precision in diagnostics and treatment.</p>
    <p>With a focus on cutting-edge innovation, we strive to be at the forefront of technological advancements in the medical industry. Your journey towards improved patient care begins with MedsPress.</p>
    <p class="moto">Precision for Health, Innovation for Life</p>
</div>

<div class="section" style="background-color: rgb(107, 22, 22); color: #fff;">
    <img src="https://images.pexels.com/photos/3938022/pexels-photo-3938022.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Quality and Innovation">
    <h2>Why Choose MedsPress?</h2>
    <p>1. Exceptional Quality: We source and deliver only the highest quality medical equipment, ensuring reliability and accuracy in healthcare practices.</p>
    <p>2. Innovation at its Core: MedsPress is dedicated to bringing the latest innovations to the medical field, empowering healthcare professionals with advanced tools.</p>
    <p>3. Customer-Centric Approach: Your satisfaction is our priority. We are committed to providing excellent customer service and support throughout your journey with MedsPress.</p>
    <p class="moto">Transforming Healthcare Together</p>
</div>