<div class="registration-container">
  <h1>REGISTRATION</h1>
</div>

<div class="registration-container">  
  <form [formGroup]="registrationForm" (ngSubmit)="register()" class="registration-form">
    <div class="form-group">
      <label for="firstName">Name</label>
      <input id="firstName" formControlName="firstName" type="text" class="form-control" />
      <div *ngIf="firstName.invalid && firstName.touched" class="error-message">Name is required</div>

      <label for="lastName">Surname</label>
      <input id="lastName" formControlName="lastName" type="text" class="form-control" />
      <div *ngIf="lastName.invalid && lastName.touched" class="error-message">Surname is required</div>

      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" class="form-control" />
      <div *ngIf="email.invalid && email.touched" class="error-message">Invalid email format or you already have an account</div>

      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" class="form-control" />
      <div *ngIf="password.invalid && password.touched" class="error-message">Password is required</div>

      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" />
      <div *ngIf="registrationForm.hasError('passwordMismatch')" class="error-message">Passwords do not match</div>

      <div class="form-group">
        <label>Choose your preferred destinations:</label>
        <div *ngFor="let destination of destinationOptions">
          <label [for]="destination">{{ destination }}</label>
          <input type="checkbox" [id]="destination" (change)="handleDestinationChange($event, destination)" />
        </div>
        <!-- Error message for minimum number of selected destinations -->
        <div *ngIf="destinationError" class="error-message">7 to 10 destinations must be selected.</div>
      </div>

      <div class="form-group">
        <label>Choose your preferred excursion types:</label>
        <div *ngFor="let excursionType of excursionTypeOptions">
          <label [for]="excursionType">{{ excursionType }}</label>
          <input type="checkbox" [id]="excursionType" (change)="handleExcursionTypeChange($event, excursionType)" />
        </div>
        <!-- Error message for minimum number of selected excursion types -->
        <div *ngIf="excursionTypeError" class="error-message">3 excursion types must be selected.</div>
      </div>

      <button type="submit" [disabled]="!registrationForm.valid || destinationError || excursionTypeError" class="submit-button">REGISTER</button>
    </div>
  </form>
</div>
