<div class="registration-container">
    <h1>CHANGE PASSWORD</h1>
  </div>
 
  <div class="registration-container">  
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="registration-form"> 
      <p class="profile-input-error" *ngIf="!isValid">{{notification}}</p>
      <div class="form-group">

        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" class="form-control" />
        <div *ngIf="password.invalid && password.touched" class="error-message">Password is required</div>
  
        <label for="newPassword">New Password</label>
        <input id="newPassword" formControlName="newPassword" type="password" class="form-control" />
        <div *ngIf="newPassword.invalid && newPassword.touched" class="error-message">New Password is required</div>

        <button type="submit" class="submit-button">CHANGE PASSWORD</button>
      </div>
    </form>
  </div>
  