
<div class="appointments-container">
    <h2><strong>Arrangements</strong></h2>

    <div class="sort">
      <select id="sortingOptions" [(ngModel)]="selectedSortingOption" (change)="sortArrangements()">

      </select>
      <!-- <select class="options" id="options" [(ngModel)]="selectedOption" (change)="filterArrangements()">

      </select>  -->
    </div>
  
    <div *ngFor="let arrangement of displayedArrangements">
      <div  class="appointment-card">
        <div class="card-top">
          <div class="card-left">
            <p>Name: {{ arrangement.name }}</p>
            <p>Type: {{ getArrangementTypeName(arrangement.type) }}</p>
            <p>Price: {{ arrangement.price }}$</p>
            <p>Average Rating: <strong>{{ arrangement.averageRating }}</strong></p>
          </div>
        </div>
        <button>VIEW MORE</button>
      </div>
    </div>
  </div>
  