
  .appointment-card {
    border: 1px solid rgba(107, 22, 22, 1);
    padding: 10px;
    margin-bottom: 20px;
    width: 80vw;
  }
  
  h2 {
    text-align: center; 
    margin-top: 20px; 
    font-size: 30px;
}
  p{
    font-size: 1rem;
  }
  .profile-edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(107, 22, 22, 1);
    border: rgba(107, 22, 22, 1) 1px solid;
    border-radius: 0.3125rem;
    height: 2.5rem;
    transition: background-color 0.15s;
    cursor: pointer;
    width: 30%;
    color: white;
    margin-right: 30vw;
    margin-left: 30vw;
}

.profile-edit-button:hover {
    background-color: rgba(107, 22, 22, 0.9);
}

.sort {
  margin-bottom: 1rem;
}

.options {
  margin-left: 1rem;
}

.card-top{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reservations-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.reservations-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  border: green 1px solid;
  border-radius: 0.3125rem;
  height: 3rem; 
  transition: background-color 0.15s;
  cursor: pointer;
  width: 20%; 
  color: white;
  margin: 0 auto; 
}

.reservations-container button:hover {
  background-color: darkgreen;
}

.reservations-card {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 0px 10px 10px 10px;
  padding: 10px;
  margin: 10px;

}