
<div class="appointments-container">
    <h2><strong>Your Appointments</strong></h2>

    <div class="sort">
      <select id="sortingOptions" [(ngModel)]="selectedSortingOption" (change)="sortAppointments()">
        <option [value]="'Date (Ascending)'">Date (Ascending)</option>
        <option [value]="'Date (Descending)'">Date (Descending)</option>
        <option [value]="'Duration (Ascending)'">Duration (Ascending)</option>
        <option [value]="'Duration (Descending)'">Duration (Descending)</option>
      </select>
      <select class="options" id="options" [(ngModel)]="selectedOption" (change)="filterAppointments()">
        <option [value]="'ALL'">ALL</option>
        <option [value]="'RESERVED'">RESERVED</option>
        <option [value]="'TAKEN'">TAKEN</option>
        <option [value]="'CANCELED'">CANCELED</option>
      </select>
    </div>
  
    <div *ngFor="let appointment of displayedAppointments">
      <div *ngIf="appointment.status" class="appointment-card">
        <div class="card-top">
          <div class="card-left">
            <p>Date and Time: {{ appointment.startDateTime | date:'medium' }}</p>
            <p>Duration: {{ appointment.duration }} minutes</p>
            <p>Status: <strong>{{ appointment.status }}</strong></p>
            <p>Company Employee: {{ appointment.companyAdministratorFullName }}</p>
          </div>
          <qrcode [qrdata]="appointment.qrCode" [width]="128" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        <button *ngIf="appointment.status === 'RESERVED' && !isDateTimeInPast(appointment.startDateTime)" class="profile-edit-button" (click)="cancelAppointment(appointment)">CANCEL</button>
      </div>
    </div>
  </div>
  