<form>
  <div>
    <label class="profile-label"
      >Start date and time ({{ company?.openingTime }}h-{{
        company?.closingTime
      }}):</label
    >
    <input
      class="profile-input"
      id="startDateTime"
      type="datetime-local"
      name="startDateTime"
      [(ngModel)]="startDateTime"
    />
    <div class="profile-input-error">{{ errors.startDateTime }}</div>

    <label class="profile-label">Duration:</label>
    <input
      class="profile-input"
      id="duration"
      type="number"
      name="duration"
      [(ngModel)]="duration"
    />
    <div class="profile-input-error">{{ errors.duration }}</div>

    <label class="profile-label">Company administrator:</label>
    <select
      class="profile-input"
      [(ngModel)]="selectedCompanyAdministrator"
      [ngModelOptions]="{ standalone: true }"
    >
      <option *ngFor="let ca of companyAdministrators" [ngValue]="ca">
        {{ ca.firstName + " " + ca.lastName }}
      </option>
    </select>
    <!-- <input class="profile-input" id="companyAdministratorFullName" type="text" name="companyAdministratorFullName" [(ngModel)]="companyAdministratorName"> -->
    <div class="profile-input-error">{{ errors.companyAdministratorName }}</div>
  </div>

  <div class="profile-save-cancel">
    <div class="profile-save-button" (click)="submit()">
      <div class="profile-button-text">Save</div>
    </div>
  </div>
</form>
