<div class="profile">

    <div class="profile-section">
        <div class="profile-section-title">Edit equipment</div>

        <div class="profile-label">Name:</div>
        <input class="profile-input" type="text" placeholder="Name" [(ngModel)]="newEquipment!.name" (input)="validate()"/>
        <div class="profile-input-error">{{errors.name}}</div>

        <div class="profile-label">Description:</div>
        <input class="profile-input" type="text" placeholder="Description" [(ngModel)]="newEquipment!.description" (input)="validate()"/>
        <div class="profile-input-error">{{errors.description}}</div>

        <div class="profile-label">Type:</div>
        <input class="profile-input" type="text" placeholder="Type" [(ngModel)]="newEquipment!.type" (input)="validate()"/>
        <div class="profile-input-error">{{errors.type}}</div>

        <div class="profile-label">Stock count:</div>
        <input class="profile-input" type="number" placeholder="Stock count" [(ngModel)]="newEquipment!.stockCount" (input)="validate()"/>
        <div class="profile-input-error">{{errors.count}}</div>

        <div class="profile-save-button" (click)="saveChanges()">
            <div class="profile-button-text">Save changes</div>
        </div>
    </div>
</div>
