<form>
  <div class="profile-section-title">Change password</div>
  <div>
    <label class="profile-label">Old password:</label>
    <input
      class="profile-input"
      type="password"
      name="password"
      [(ngModel)]="password"
    />
    <div class="profile-input-error">{{ errors.password }}</div>

    <label class="profile-label">New password:</label>
    <input
      class="profile-input"
      type="password"
      name="repeatedPassword"
      [(ngModel)]="newPassword"
    />
    <div class="profile-input-error">{{ errors.newPassword }}</div>
  </div>

  <div class="profile-save-cancel" (click)="changePassword()">
    <div class="profile-save-button">
      <div class="profile-button-text">Change password</div>
    </div>
  </div>
</form>
