<div class="deliveries">
  <div class="title">Deliveries</div>
  <div class="card" *ngFor="let delivery of deliveries">
    <fa-icon class="truck" [icon]="faTruckMedical" />
    <div class="content">
      <div class="label">
        <fa-icon [icon]="faHospital" />
        {{ delivery.hospitalName }}
      </div>
      <div class="label">
        <fa-icon [icon]="faCalendarDay" />
        {{ delivery.deliveryDate }}
      </div>
      <div class="label green" *ngIf="delivery.status == 'DELIVERED'">
        <fa-icon [icon]="faCheck" />
        {{ delivery.status }}
      </div>
      <div class="label" *ngIf="delivery.status != 'DELIVERED'">
        <fa-icon [icon]="faClock" />
        {{ delivery.status }}
      </div>
    </div>
    <div
      class="start"
      *ngIf="
        isDateToday(delivery.deliveryDate) && delivery.status != 'DELIVERED'
      "
      [routerLink]="['/map-delivery/', delivery.id]"
    >
      <div class="start-text">Start</div>
    </div>
  </div>
</div>
