<div class="company-card no-border" >
    <img class="company-image" [src]="imageURL"/>
    <div class="company-content">
        <div class="company-title">{{company.name}}</div>
        <div class="company-label">
            <fa-icon class="star" [icon]="faStar" />
            {{company.averageRating}}
        </div>
        <div class="company-label">
            <fa-icon [icon]="faLocationDot" />
            Location: {{company.address}}, {{company.city}}, {{company.country}}
        </div>
        <div class="company-label">
            <fa-icon [icon]="faClock" />
            Working time: {{company.openingTime}} - {{company.closingTime}}
        </div>
    </div>
</div>