<div class="profile">
    <fa-icon class="profile-picture" [icon]="faUser"/>

    <div class="profile-section">
        <div class="profile-section-title">Account</div>
        <div class="profile-section-label">Email: {{user.email}}</div>
        <div class="profile-section-label">Penalty points: {{user.penaltyPoints}}</div>
        <div class="profile-section-label">Loyalty: -</div>
    </div>

    <div class="profile-section">
        <div class="profile-section-title">Personal information</div>

        <div class="profile-label">Name:</div>
        <input class="profile-input" [class.cursor-initial]="canEdit" type="text" placeholder="Name" [(ngModel)]="userCopy.firstName" (input)="validate()"/>
        <div class="profile-input-error">{{errors.firstName}}</div>

        <div class="profile-label">Surname:</div>
        <input class="profile-input" [class.cursor-initial]="canEdit" type="text" placeholder="Surname" [(ngModel)]="userCopy.lastName" (input)="validate()"/>
        <div class="profile-input-error">{{errors.lastName}}</div>

        <div class="profile-label">Password:</div>
        <!-- <input class="profile-input" [class.cursor-initial]="canEdit" type="password" placeholder="Password" [(ngModel)]="userCopy.password" (input)="validate()"/>
        <div class="profile-input-error">{{errors.password}}</div> -->
        <div class="profile-input-error">{{errors.password}}</div>
        <div class="profile-edit-button" (click)="changePassword()">
            <div class="profile-button-text">Change password</div>
        </div>

        <!-- <div class="profile-label" *ngIf="canEdit">Confirm password:</div>
        <input class="profile-input" [class.cursor-initial]="canEdit" type="password" placeholder="Confirm password" *ngIf="canEdit" [(ngModel)]="userCopy.passwordConfirmation" (input)="validate()"/>
        <div class="profile-input-error" *ngIf="canEdit">{{errors.passwordConfirmation}}</div> -->

        <div class="profile-label">Country:</div>
        <input class="profile-input" [class.cursor-initial]="canEdit" type="text" placeholder="Country" [(ngModel)]="userCopy.country" (input)="validate()"/>
        <div class="profile-input-error">{{errors.country}}</div>

        <div class="profile-label">City:</div>
        <input class="profile-input" [class.cursor-initial]="canEdit" type="text" placeholder="City" [(ngModel)]="userCopy.city" (input)="validate()"/>
        <div class="profile-input-error">{{errors.city}}</div>

        <div class="profile-label">Phone number:</div>
        <input class="profile-input" [class.cursor-initial]="canEdit" type="text" placeholder="Phone Number" [(ngModel)]="userCopy.phoneNumber" (input)="validate()"/>
        <div class="profile-input-error">{{errors.phoneNumber}}</div>

        <div class="profile-label">Workplace:</div>
        <input class="profile-input" [class.cursor-initial]="canEdit" type="text" placeholder="Workplace" [(ngModel)]="userCopy.workplace" (input)="validate()"/>
        <div class="profile-input-error">{{errors.workplace}}</div>

        <div class="profile-label">Company name:</div>
        <input class="profile-input" [class.cursor-initial]="canEdit" type="text" placeholder="Company name" [(ngModel)]="userCopy.companyName" (input)="validate()"/>
        <div class="profile-input-error">{{errors.companyName}}</div>

        <div class="profile-edit-button" *ngIf="!canEdit" (click)="startEditing()">
            <div class="profile-button-text">Edit</div>
        </div>

        <div class="profile-save-cancel" *ngIf="canEdit">
            <div class="profile-save-button" (click)="saveChanges()">
                <div class="profile-button-text">Save</div>
            </div>
            <div class="profile-cancel-button" (click)="endEditing()">
                <div class="profile-cancel-button-text">Cancel</div>
            </div>
        </div>
    </div>
</div>
<pd-registered-user-appointments></pd-registered-user-appointments>
