<div class="registration-container">
        
    <div class="reservation-container">
        <h2><strong>Upload QR Code</strong></h2>

        <input type="file" (change)="onImageInputChange($event)" accept="image/*"/>

        <div *ngIf="decodedResult">

            <h2><strong>Your Reservation</strong></h2>
            <div class="reservation-card">

                <p>Status: <strong>{{ reservation.status }}</strong></p>

                <div *ngIf="reservation.appointment">
                    <p>Date and Time: {{ reservation.appointment.startDateTime | date:'medium' }}</p>
                    <p>Duration: {{ reservation.appointment.duration }} minutes</p>
                    <p>Status: <strong>{{ reservation.appointment.status }}</strong></p>
                    <p>Company Employee: {{ reservation.appointment.companyAdministratorFullName }}</p>
                </div>
            </div>  

                
            <div *ngIf="isDecoded">

                <h2><strong>Equipment Reserved</strong></h2>

                <div *ngFor="let reservationItem of reservationItems">
                    <div class="reservation-card">

                        <div *ngIf="reservationItem.equipment">
                            <p>Equipment Name: {{ reservationItem.equipment.name }}</p>
                            <p>Equipment Description: {{ reservationItem.equipment.description }}</p>
                            <p>Equipment Type: {{ reservationItem.equipment.type }}</p>
                        </div>
                        
                        <p>Quantity Ordered: {{ reservationItem.quantity }}</p>
                    </div>
                </div>

                
                <button (click)="onMarkAsTakenClicked()" class="button">Mark as Taken</button>
                <p [style.color]="isSuccessfullyTaken ? 'green' : 'red'">{{ markAsTakenMessage }}</p>
            </div>
        </div>

    </div>
</div>
